.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    padding: 10px;
    color: #F8F8F8;
}

.dialogsItems .active {
    color: cadetblue;
}

.messages {
    padding: 10px;
}

.messages .message{
    color: #2C2A31;
}